.side-menu{
    width: 250px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    height: 100vh;
    z-index: 1;
    position: fixed;
}

.retangle{
    padding-top: 1rem;
    padding-bottom: 1.1rem;
    padding-left: 1rem;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.menu a {
    display: flex;
    padding: 10px;
    border: 1px solid #E7E7E7;
    color: #725C5C;
    border-radius: 1px;
    border-left: 3px solid #ffffff;
}
.menu a:hover{
    background: #FDF1EB;
}
.menu a:active{
    border-right: none;
    -webkit-border-image: -webkit-gradient(linear, right top, left bottom, from(#FFB455), to(#ED7839))0 100% ;
}
@media (max-width: 1200px) {
    .side-menu{
        display: none;
    }

}
